@page "/home"
@page "/"
@using MauiBlazor.Shared.ViewModels
@using System.ComponentModel
@inject INativeStuffViewModel _vm


<h1>Hello, 111!</h1>
<p>@_vm.Stuff</p>
Welcome to your new app.

<SurveyPrompt Title="Läget?" />
<Component1/>
<MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
<MudButton Variant="Variant.Filled" Disabled="true">Disabled</MudButton>
@code
{


	
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		_vm.PropertyChanged += UpdateView;
		StateHasChanged();
	}

	private void UpdateView(object? sender, PropertyChangedEventArgs e)
	{
		StateHasChanged();
	}

}
